<section                                        //done
  class="carousel"                              //done
  aria-label="Main Topic"                       //done
  aria-roledescription="carousel"               //done
>
  <div class="carousel__controls">              //done
    <div class="arrows">                        //done
      <button type="button"                     //done
        aria-label="Previous slide"             //done
        aria-controls="ID_CAROUSEL_CARD"
      ></button>
      <button type="button"                     //done
        aria-label="Next slide"                 //done
        aria-controls="ID_CAROUSEL_CARD"
      ></button>
    </div>
    <div 
      class="carousel__navigation" 
      role="tablist" 
      aria-label="Slides">
      <!-- HERE's there's a map of dots -->
      <button
        type="button"
        aria-label="Topic 1"
        class="-full"
        data-slide="0"
        role="tab"
        aria-label="Slide 1"
        aria-selected="false"
        aria-controls="carousel-item-1"
        tabindex="-1/0"
      >
        <!-- dot svg -->
      </button>
    </div>
  </div>
  <div
    id="ID_CAROUSEL_CARD"
    class="carousel__cards"                     //done
    aria-atomic="false"                         //done
    aria-live="polite"                          //done
  >
    <!-- HERE's THERE'S A MAP OF CARDS -->
    <div
      class="carousel__card"                    //done
      role="group"                              //done
      aria-roledescription="slide"              //done
      aria-label="X of Y"                       //done
      id="carousel-item-1"                      //done
    >
      <h2>Heading n</h2>
      <p>This is some text</p>
      <a href="#">Link n</a>
    </div>
  </div>
</section>
