:root {
  --button--background-default: #1976d2;
  --button--background-hover: #1565c0;
  --button--background-active: #0b5baa;
  --button--background-disabled: #808080;
  --button--text-default: #ffffff;
  --button--text-disabled: #d3d3d3;

  --input-checkbox--square-border: 0.125rem;
  --input-checkbox--square-size: 2rem;
  --input-checkbox--square-radius: 0.375rem;
  --input-checkbox--square--border-default-default: #e2e8f0;
  --input-checkbox--square--border-default-hover: #b0bcc8;
  --input-checkbox--square--border-default-active: #8099b4;
  --input-checkbox--square-border-selected-default: #3182ce;
  --input-checkbox--square-border-selected-hover: #2b6cb0;
  --input-checkbox--square-border-selected-active: #1e547d;
  --input-checkbox--checkmark-size: 0.125rem;
  --input-checkbox--checkmark-H: 0.5rem;
  --input-checkbox--checkmark-W: 1rem;
  --input-checkbox--checkmark-X: 0.375rem;
  --input-checkbox--checkmark-Y: 0.5rem;
  --input-checkbox--checkmark-color: #ffffff;

  --input-radio--border-default-default: #e2e8f0;
  --input-radio--border-default-hover: #b0bcc8;
  --input-radio--border-default-active: #8099b4;
  --input-radio--border-selected-default: #3182ce;
  --input-radio--border-selected-hover: #2b6cb0;
  --input-radio--border-selected-active: #1e547d;

  --input-text--border-default-default: #e2e8f0;
  --input-text--border-default-hover: #b0bcc8;
  --input-text--border-default-active: #8099b4;
  --input-text--font-default: 1rem;

  --wheel-picker--color-fog: #ffffff;
  --wheel-picker--border-default-default: #e2e8f0;
  --wheel-picker--border-default-hover: #b0bcc8;

  --chrome-outline: #a86d5a;
  --chrome-box-shadow: #f4a26e;
}

wa-button {
  display: inline-flex;

  &:hover {
    cursor: pointer;
  }

  & button {
    align-items: center;
    background: var(--button--background-default);
    border: 0;
    border-radius: 1rem;
    color: var(--button--text-default);
    display: inline-flex;
    font-size: 1rem;
    height: 2rem;
    padding: 0.5rem 0.75rem;
  }

  &:not([disabled]) {
    & button:hover {
      background: var(--button--background-hover);
      cursor: pointer;
    }

    & button:active {
      background: var(--button--background-active);
    }
  }

  &[disabled] button {
    background: var(--button--background-disabled);
    color: var(--button--text-disabled);
    cursor: initial;
  }
}

wa-input-checkbox {
  display: inline-flex;

  & input {
    left: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  & label {
    align-items: center;
    display: flex;
    height: var(--input-checkbox--square-size);
    min-width: 10rem;
    position: relative;
    width: var(--input-checkbox--square-size);

    &:before {
      border-radius: var(--input-checkbox--square-radius);
      border: var(--input-checkbox--square-border) solid
        var(--input-checkbox--square--border-default-default);
      content: '';
      display: flex;
      height: calc(
        var(--input-checkbox--square-size) -
          var(--input-checkbox--checkmark-size) * 2
      );
      position: absolute;
      width: calc(
        var(--input-checkbox--square-size) -
          var(--input-checkbox--checkmark-size) * 2
      );
    }

    &:after {
      border-bottom: var(--input-checkbox--checkmark-size) solid
        var(--input-checkbox--checkmark-color);
      border-left: var(--input-checkbox--checkmark-size) solid
        var(--input-checkbox--checkmark-color);
      display: none;
      height: var(--input-checkbox--checkmark-H);
      left: var(--input-checkbox--checkmark-X);
      position: absolute;
      top: var(--input-checkbox--checkmark-Y);
      transform: rotate(315deg);
      width: var(--input-checkbox--checkmark-W);
    }

    &:hover {
      cursor: pointer;

      &:before {
        border-color: var(--input-checkbox--square--border-default-hover);
      }
    }

    &:active:before {
      border-color: var(--input-checkbox--square--border-default-active);
    }
  }

  &[focused] label::before {
    box-shadow: 0 0 0 2px var(--chrome-box-shadow);
    outline: 1px solid var(--chrome-outline);
  }

  &[checked] {
    label:before {
      background-color: var(--input-checkbox--square-border-selected-default);
      border: var(--input-checkbox--square-border) solid
        var(--input-checkbox--square-border-selected-default);
    }

    label:after {
      content: '';
      display: flex;
    }

    label:hover::before {
      background-color: var(--input-checkbox--square-border-selected-hover);
      border: var(--input-checkbox--square-border) solid
        var(--input-checkbox--square-border-selected-hover);
    }

    label:active:before {
      background-color: var(--input-checkbox--square-border-selected-active);
      border: var(--input-checkbox--square-border) solid
        var(--input-checkbox--square-border-selected-active);
    }
  }

  & span {
    left: 2.25rem;
    font-size: 1rem;
    font-family: arial;
    position: relative;
  }
}

wa-input-radio {
  align-items: center;
  display: flex;
  height: 2rem;
  position: relative;
  width: 100%;

  & input {
    left: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  & label {
    align-items: center;
    display: flex;
    font-family: arial;
    font-size: 1rem;
    position: relative;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    &::before {
      border: 2px solid var(--input-radio--border-default-default);
      height: 1.5rem;
      position: relative;
      width: 1.5rem;

      border-radius: 50%;
      content: '';
      display: flex;
    }

    &::after {
      background-color: var(--input-radio--border-selected-default);
      height: 1rem;
      left: 0.375rem;
      position: absolute;
      top: 0.375rem;
      width: 1rem;
    }

    &:hover::before {
      border-color: var(--input-radio--border-default-hover);
    }

    &:active::before {
      border-color: var(--input-radio--border-default-active);
    }
  }

  &[checked] label::after {
    border-radius: 50%;
    content: '';
    display: flex;
  }

  &[checked] label:hover::after {
    background-color: var(--input-radio--border-selected-hover);
  }

  &[checked] label:active::after {
    background-color: var(--input-radio--border-default-active);
  }

  &[focused] label::before {
    box-shadow: 0 0 0 2px var(--chrome-box-shadow);
    outline: 1px solid var(--chrome-outline);
  }

  & span {
    padding-left: 0.25rem;
  }
}

wa-input-text {
  display: grid;

  & label {
    display: flex;
    font-family: arial;
    font-size: var(--input-text--font-default);
    margin-bottom: 0.25rem;
  }

  & input {
    border: 0.125rem solid var(--input-text--border-default-default);
    border-radius: 0.375rem;
    font-size: var(--input-text--font-default);
    padding: 0.5rem;
  }

  &:hover {
    border-color: var(--input-text--border-default-hover);
  }

  &::placeholder {
    color: var(--input-text--border-default-hover);
  }
}

wa-wheel-picker {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: fit-content;

  &:focus-within .WheelPicker {
    box-shadow: 0 0 0 2px var(--chrome-box-shadow);
    outline: 1px solid var(--chrome-outline);
  }

  & .WheelPicker {
    position: relative;

    &:after,
    &:before {
      content: ' ';
      height: calc(50% - 1.5rem);
      pointer-events: none;
      position: absolute;
      width: 100%;
      z-index: 9999;
    }

    &:before {
      background: linear-gradient(
        180deg,
        var(--wheel-picker--color-fog) 25%,
        transparent
      );
    }

    &:after {
      background: linear-gradient(
        0deg,
        var(--wheel-picker--color-fog) 25%,
        transparent
      );
      bottom: 0;
    }
  }

  & .WheelPicker__items {
    font-family: Arial;
    font-size: 2rem;
    font-weight: lighter;
    max-block-size: 15rem;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    width: 3.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  & .WheelPicker__item {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
    width: 3rem;
    z-index: 999;

    &:first-of-type {
      margin-top: 6rem;
    }

    &:nth-last-child(2) {
      margin-bottom: 6rem;
    }
  }

  & .WheelPicker__aim {
    border: 0.125rem solid var(--wheel-picker--border-default-default);
    border-radius: 0.375rem;
    box-sizing: content-box;
    display: flex;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 3rem;

    &:after,
    &:before {
      background: var(--wheel-picker--color-fog);
      content: ' ';
      height: 2.5rem;
      position: absolute;
      top: 0.25rem;
      width: 0.125rem;
    }

    &:before {
      left: -0.125rem;
    }

    &:after {
      right: -0.125rem;
    }
  }

  & label,
  & .WheelPicker__warning {
    font-family: arial;
    font-size: 1rem;
    padding: 0.5rem;
  }

  & .WheelPicker__input {
    opacity: 0;
    position: absolute;
    width: 0;
  }
}

wa-form wa-input-text {
  margin-bottom: 0.5rem;
}

wa-accordion {
  /* native reset */
  h3,
  p {
    display: flex;
    margin: 0;
    padding: 0;
  }

  button {
    background: white;
    border: 0;
  }

  .accordionItem {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-areas:
      'header addon'
      'panel addon';
    grid-template-columns: auto 4rem;
    grid-template-rows: 1fr auto;
    max-width: 500px;

    /* ADDON is NOT present */
    &:has(> :last-child:nth-child(2)) .accordionItem__header {
      grid-column: span 6;
    }

    &:has(+ .accordionItem--active) {
      border-bottom: none;
    }
  }

  .accordionItem--active {
    border-top: 5px solid black;
    border-bottom: 5px solid black;

    .accordionItem__panel {
      display: flex;
      flex-direction: column;
      grid-area: panel;
      grid-column: span 6;
      padding: 0.5rem;
    }

    .accordionItem__addon svg {
      fill: black;
    }
  }

  .accordionItem__header {
    grid-area: header;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .accordionItem__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  .accordionItem__panel {
    display: none;
    grid-column: span 6;
  }

  .accordionItem__addon {
    align-items: center;
    display: flex;
    grid-area: addon;
    grid-column: span 1;
    height: 100%;
    justify-content: center;
  }
}
