:root {
  --button--background-default: #1976d2;
  --button--background-hover: #1565c0;
  --button--background-active: #0b5baa;
  --button--background-disabled: #808080;
  --button--text-default: #ffffff;
  --button--text-disabled: #d3d3d3;

  --checkbox--square-border: 0.125rem;
  --checkbox--square-size: 2rem;
  --checkbox--square-radius: 0.375rem;
  --checkbox--square--border-default-default: #e2e8f0;
  --checkbox--square--border-default-hover: #b0bcc8;
  --checkbox--square--border-default-active: #8099b4;
  --checkbox--square-border-selected-default: #3182ce;
  --checkbox--square-border-selected-hover: #2b6cb0;
  --checkbox--square-border-selected-active: #1e547d;
  --checkbox--checkmark-size: 0.125rem;
  --checkbox--checkmark-H: 0.5rem;
  --checkbox--checkmark-W: 1rem;
  --checkbox--checkmark-X: 0.375rem;
  --checkbox--checkmark-Y: 0.5rem;
  --checkbox--checkmark-color: #ffffff;

  --radio--border-default-default: #E2E8F0;
  --radio--border-default-hover: #B0BCC8;
  --radio--border-default-active: #8099B4;
  --radio--border-selected-default: #3182CE;
  --radio--border-selected-hover: #2B6CB0;
  --radio--border-selected-active: #1E547D;

  --text-field--border-default-default: #E2E8F0;
  --text-field--border-default-hover: #B0BCC8;
  --text-field--border-default-active: #8099B4;
  --text-field--font-default: 1rem;
  
  --chrome-outline: #a86d5a;
  --chrome-box-shadow: #f4a26e;
}